@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-poppins: var(--font-poppins);
  --font-plus-jakarta: var(--font-plus-jakarta-sans);
  --font-fragment-mono: var(--font-fragment-mono);
  --font-amiri: "Amiri", serif;
  --breakpoint-3xl: 1920px;
  --breakpoint-100: 1920px; /* 1920px at 100% scaling */
  --breakpoint-110: 1745px; 
  --breakpoint-125: 1536px; 
  --breakpoint-150: 1100px; 
  --breakpoint-175: 960px; 
  --spacing-80: 20rem; /* 320px */
  --spacing-106: 26.5rem;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #444444;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
  min-height: 100vh;
}

/* Base typography defaults using Tailwind tokens */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins), sans-serif;
}

@utility container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: 1280px) and (max-width: 1439px) {
    max-width: 1400px; /* standard 1280 - padding */
  }

  @media (min-width: 1440px) and (max-width: 1919px) {
    max-width: 1700px;
  }

  @media (min-width: 1920px) {
    max-width: 1850px; /* 1920 - padding */
  }
}
